body {
    font-size: 28px;
    font-family: Lato, Ariel, sans-serif !important;
}

.reveal {
    font-size: 28px;
    overflow-y: scroll;
    font-family: Lato, Ariel, sans-serif !important;
}

.reveal section img {
    border: none;
    box-shadow: none;
}

.left {
    width: 49%;
    float: left;
}

.right {
    width: 49%;
    float: right;
}
